*{
    margin: 0;padding: 0;
}

body{width: 100%;height: 100vh; background: lightcyan;}

.svg__ani article{
    width: 500px;
    border: 1px solid #000;
    box-sizing: border-box;
    padding: 50px;
    margin: 50px auto;
}

.svg__ani article svg{
    width: 100%;
}

.svg__ani article svg path{
    fill: transparent;
    stroke: red;
    stroke-width:2;
    stroke-dasharray: 1420;
    stroke-dashoffset: -1420;
    transition: all 3s;
}

.svg__ani article:hover svg path{
    stroke-dashoffset: 0;
}

.css__flex{
    width: 100%;height: 100px;
    border: 10px solid blue;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;    
    justify-content: space-evenly;
    align-content: center;
}
.css__flex article{
    width: 100px;height: 100px; background: aqua; border: 1px solid #000;
    display: flex;justify-content: center;align-items: center;
}

.css__flex article:nth-of-type(1){order:5;}
.css__flex article:nth-of-type(2){order:4;}
.css__flex article:nth-of-type(3){order:3;}
.css__flex article:nth-of-type(4){order:1;}
.css__flex article:nth-of-type(5){order:2;background: rgb(225, 0, 255);}

.css__flex_grow{
    width: 100%;height: 100px;
    border: 10px solid rgb(200, 255, 0);
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
}
.css__flex_grow article{
    background: aqua; border: 1px solid #000;box-sizing: border-box;font-size: 50px;color:#fff;
    display: flex;
}
.css__flex_grow article:nth-of-type(1){flex-grow: 1;}
.css__flex_grow article:nth-of-type(2){flex-grow: 2;}
.css__flex_grow article:nth-of-type(3){flex-grow: 3;}

.css__flex_shrink{
    width: 100%;
    border: 10px solid rgb(255, 0, 170);

    display: flex;
}
.css__flex_shrink article{
    width: 400px;
    background: aqua; border: 1px solid #000;box-sizing: border-box;font-size: 30px;color:#fff;
    display: flex;
}
/* .css__flex_shrink article:nth-of-type(1){flex-shrink: 1;}
.css__flex_shrink article:nth-of-type(2){flex-shrink: 2;}
.css__flex_shrink article:nth-of-type(3){flex-shrink: 3;} */

.css__flex_shrink article:nth-of-type(1){flex: 1;}
.css__flex_shrink article:nth-of-type(2){flex: 2;}
.css__flex_shrink article:nth-of-type(3){flex: 3;}

a {
    font-size: 24px; color: #555;text-decoration: none;
    background-color: black;color:blanchedalmond;border-radius:12px;padding: 10px 20px;
}

#box{width: 200px;height: 200px; background: red; margin: 100px auto;transition: 0.5s;}
#wrap{
    width:500px;height: 500px; border: 1px solid #000; padding: 100px; box-sizing: border-box;
    margin: 40px auto;
}
#wrap article{
    width: 100%;
    height: 100%;background: aquamarine;transition: 1s;
}
#wrap.on article {background: hotpink;}
/* 버튼 비활성화 */
ul.btns li{transition: 1s;
    color: gray;
    display: inline-flex;
    font-size: 24px; color: #555;text-decoration: none;
    background-color: rgb(29, 9, 9);color:blanchedalmond;border-radius:12px;padding: 10px 20px;
}
ul.btns li:hover{background-color: rgb(134, 130, 130);}
ul.btns li.on{color: rgb(255, 255, 255);background-color: rgb(134, 130, 130);cursor: pointer;}


section.sameTab{
    width: 300px;height: 200px;border: 1px solid #888;
    margin: 50px; position: relative; perspective: 600px;
}

/* 박스 비활성화 */
section.sameTab article{
width: 100%; height: 100%; position: absolute;top:0;left: 0; 
display: flex;justify-content: center;align-items: center;
color: #fff; font-size: 50px; opacity: 0;transform: rotate(-180deg);transition: 0.5s;
}

section.sameTab article.on{
    opacity: 1;
    transform: rotate(0deg);
}
section.sameTab article:nth-of-type(1){background:rgb(74, 218, 30) ;}
section.sameTab article:nth-of-type(2){background: hotpink;}
section.sameTab article:nth-of-type(3){background: orangered;}

